doctype html 
html 
    head 
        title Welcome to Big-Bite-Burger
        block scripts 
        block style 
    body 

        nav#navbar
            ul 
                div#logo 
                    img(src="/static/logo00.jpg", alt="bigbiteburger")
                li #[a(href="/") Home ]
                li #[a(href="#aboutUs") About]
                li #[a(href="#services") Services]
                li #[a(href="/") Order Online]
                li #[a(href="/contact") Contact Us]

        block content 

        footer#footer.center
            | Copyright &copy; www.bigbiteburger.com. All rights reserved!    